$color: green;
body {
    background-color: #f6f6f6;
    padding:0;
    margin:0;
}
#root {
 height: 100vh;
}

.food-menu-wrapper{
    max-width: 1440px;
    margin:24px auto;
    background-color:#ffffff;
    padding: 48px;
    display: flex;
    justify-content:center;
}