.map-view {
    height: 100%;
    .leaflet-popup {
        margin-bottom: 54px;
    }
}

.leaflet-popup-content {
    color: white;
    font-weight: bold;
}

.leaflet-container a.leaflet-popup-close-button {
    color: white;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background-color: blueviolet;
}

.leaflet-tooltip-top {
    font-weight: 600;
}